

@model IEnumerable<BookStoreFinal.Models.GENRE>


<aside class="wedget__categories poroduct--tag">
    <h3 class="wedget__title">Product Tags</h3>

    <ul>
        @*@{
                var ListBookCates = ViewBag.ListBookCate as IEnumerable<Chude>;
            }
            @foreach (Chude i in ListBookCates)
            {
                <li><a href="#">@i.Tenchude</a></li>
            }*@
        @foreach (var i in Model)
        {

            <li><a href="@Url.Action("Index","Book",new { id = i.ID })">@i.NAME</a></li>

        }
    </ul>

</aside>

