<h2>ProductCategory</h2>

<aside class="wedget__categories poroduct--cat">
    <h3 class="wedget__title">Product Categories</h3>
    <ul>
        @{
            var category = ViewBag.category as IEnumerable<BookStoreFinal.Models.GENRE>;

        }

        @{
            int dem = 0;
            foreach (var it in category)
            {
                var count = new int[100];
                count = ViewBag.countBook;
                <li>
                    <a href="@Url.Action("Index", "Book", new { id = it.ID })">
                        @it.NAME <span>
                            (@count[dem])
                        </span>
                    </a>
                </li>
                dem++;
            }
        }

    </ul>
</aside>
